body {
    background: url('cyber.jpg') no-repeat center center fixed; /* Add this line */
    background-size: cover; /* Add this line */
    font-family: 'Arial', sans-serif;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
}
